.header {
  width: 100%;
  height: 100px;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.4rem;
}

main {
  min-width: 600px;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  /* background: silver; */
  font-size: 2rem;
}

.todo-badge {
  font-size: 2.4rem;
  background: silver;
  margin: 5px 0;
  padding-left: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.form {
  font-size: 3rem;
}

.submitBtn {
  width: 8%;
  margin: 0 15px;
  cursor: pointer;
}

.input {
  padding-left: 10px;
  width: 88%;
  color: lightcoral;
  border-radius: 5px;
}